@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Header Main
4. Formulário de login
5. Linha de divisão dos forms
6. Formulário de cadastro
7. Copyright



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
    font-family: 'Axure Handwriting', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #000000;
}
div
{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
    list-style: none;
    margin-bottom: 0px;
}
p
{
    font-family: 'Axure Handwriting', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
    position: relative;
    color: #FF6347;
}
p a:hover
{
    color: #FFFFFF;
    background: #ffa07f;
}
p a:hover::after
{
    opacity: 0.2;
}
::selection
{

}
p::selection
{

}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Axure Handwriting', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
.form-control
{
    color: #db5246;
}
section
{
    display: block;
    position: relative;
    box-sizing: border-box;
}
.clear
{
    clear: both;
}
.clearfix::before, .clearfix::after
{
    content: "";
    display: table;
}
.clearfix::after
{
    clear: both;
}
.clearfix
{
    zoom: 1;
}
.float_left
{
    float: left;
}
.float_right
{
    float: right;
}
.trans_200
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.trans_300
{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.trans_400
{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.trans_500
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.fill_height
{
    height: 100%;
}
.super_container
{
    width: 100%;
    overflow: hidden;
}
.prlx_parent
{
    overflow: hidden;
}
.prlx
{
    height: 130% !important;
}
.nopadding
{
    padding: 0px !important;
}
.button
{
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.button a
{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}
.button:hover
{
    opacity: 0.8;
}

/*********************************
3. Header
*********************************/

.header
{
    position: relative;
    width: 100%;
    z-index: 10;
}

/*********************************
3.1 Header Main
*********************************/

.header_main
{
    z-index: 1;
}
.header.scrolled .header_main
{
    display: none;
}
.header_main_item
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.logo_container
{
    /*height: 175px;*/
    /*background: black;*/
}

.logo_icon{
    margin: 0px 0px 0px -290px;
    display: block;
    width: 1800px;
    height: 120px;
    /*background:#08c8b0;*/
    background: black;
    padding: 0px 80px 0px 287px;
    /*border-bottom: 50px;*/

}

.logo
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.logo a
{
    font-size: 36px;
    font-weight: 500;
    color: #0e8ce4;
}
.header_search
{
    height: 263px;
}
.header_search_content
{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header_search_form_container
{
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
}
.header_search_form
{
    width: 100%;
    height: 100%;
}
.header_search_input
{
    display: block;
    position: relative;
    width: calc((100% - 50px) * 0.601);
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 26px;
    color: #7f7f7f;
    float: left;
}
.header_search_input::-webkit-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input:-moz-placeholder /* older Firefox*/
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input::-moz-placeholder /* Firefox 19+ */
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
.header_search_input:-ms-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important;
}
/*.header_search_input::input-placeholder*/
/*{*/
/*font-size: 16px !important;*/
/*font-weight: 300;*/
/*line-height: 50px;*/
/*color: #a3a3a3 !important;*/
/*}*/
.custom_dropdown
{
    width: calc((100% - 50px) * 0.399);
    height: 50px;
    float: left;
    padding-left: 26px;
}
.custom_dropdown::before
{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 28px;
    background: #e5e5e5;
    content: '';
}
.custom_dropdown_list i
{
    display: inline-block;
    color: #a3a3a3;
    font-size: 10px;
    margin-left: 3px;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
}
.custom_dropdown_placeholder
{
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #a3a3a3;
    line-height: 48px;
    cursor: pointer;
}
.custom_dropdown_placeholder i
{

}
.custom_list
{
    text-align: left;
    position: absolute;
    padding: 0;
    top: 75px;
    left: -15px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: all 0.2s ease;
}
.custom_list.active
{
    visibility: visible;
    opacity: 1;
    top: 50px;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.custom_list li
{
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    background: #FFFFFF;
}
.custom_list li a
{
    display: block;
    color: #a3a3a3;
    line-height: 35px;
    border-bottom: solid 1px #ededed;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.custom_list li a:hover
{
    color: #0e8ce4;
}
select
{
    display: inline;
    border: 0;
    width: auto;
    margin-left: 10px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 2px solid #555;
    color: #7b00ff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
select:hover
{
    cursor: pointer;
}
select option
{
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*********************************
4. Formulário de login
*********************************/
.login-clean {
    background:#EAFAF1;
    padding:20px;
    margin-left: -80px;
    padding: 20px 40px 40px 40px;
}

.nominho h3{
    text-align: center;
    font-family: 'Axure Handwriting', sans-serif;
    /*font-size: 8px;*/
    font-size: 30px;
    font-weight: 300;
    line-height: 56px;
    padding: 1pt 10pt 100pt 10pt;
    margin: -100pt 0pt 0pt 0pt;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.login-clean h2{
    text-align: center;
}

.imgLogin img{
    max-width: 80px;
    max-height: 80px;
}

.imgLogin{
    margin: -100px 0px 0px -200px;
    display: block;
    width: 1800px;
    height: 150px;
    padding: 1px 50px 20px 189px;
    /*border-bottom: 50px;*/

}

.letraLogin h3 {
    /*text-align: center;*/
    font-family: 'Axure Handwriting', sans-serif;
    /*font-size: 8px;*/
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    padding: 1px 10px 110px 80px;
    margin: -145px 0px 0px 0px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

/*Bloquinho do form*/
.login-clean form {
    max-width:400px;
    max-height: 400px;
    width:90%;
    margin: 100px 100px 100px 190px;
    /*background-color:#f1f7fc;*/
    padding:50px;
    /*border-radius:2px;*/
    color:#505e6c;
    /*box-shadow:1px 1px 5px rgba(0,0,0,0.1);*/
}

/*Caixa de texto de email e senha*/
.login-clean form .form-control {
    background:#f7f9fc;
    border:none;
    text-align: left;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:8px;
    margin-top: -40px;
    margin-bottom: 70px;
    height:42px;
    width: 300px;
}

.login-clean form .btn-primary {
    background: #08c8b0;
    border:none;
    border-radius:4px;
    padding:5px;
    text-align: center;
    box-shadow:none;
    margin: -26px 100px 100px 100px;
    text-shadow:none;
    height: 40px;
    width: 100px;
    outline:none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
    background:#ffcd00;
}

.login-clean form .btn-primary:active {
    transform:translateY(1px);
}

.login-clean form .forgot {
    display:block;
    text-align:center;
    font-size:13px;
    margin-top: -30px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
    opacity:1;
    text-decoration:none;
}


/*********************************
5. Linha de divisão dos forms
*********************************/
.linha img{
    height: 1px;
    /*width: 2px;*/
    transform: rotate(90deg);
    transform-origin: left top 0;
    margin-top: -1140px;
    margin-left: 800px;
    margin-bottom: -200px;
    padding-bottom: -100px;
}


/*********************************
6. Formulário de cadastro
*********************************/
.login-clean-direita {
    background:#EAFAF1;
    padding: 38px 0px 0px 160px;
    margin: 0px 0px 0px 0px;
    height: 0px;
    /*width: 50px;*/
}

.login-clean-direita h2{
    text-align: center;
}

.imgLogin-direita img{
    max-width: 80px;
    max-height: 80px;
}

.imgLogin-direita{
    margin: -790px 0px 0px -200px;
    display: block;
    width: 1800px;
    height: 150px;
    padding: 1px 50px 20px 189px;
    /*border-bottom: 50px;*/
    /*border-bottom: 1px #000000 solid;*/
}


.letraLogin-direita h3{
    /*text-align: center;*/
    font-family: 'Axure Handwriting', sans-serif;
    /*font-size: 8px;*/
    font-size: 25px;
    font-weight: 300;
    line-height: 56px;
    padding: 1px 10px 110px 80px;
    margin: -145px 0px 0px 1px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

}
.nominho2 h3{
    text-align: center;
    font-family: 'Axure Handwriting', sans-serif;
    /*font-size: 8px;*/
    font-size: 30px;
    font-weight: 300;
    line-height: 56px;
    padding: -360px 10px 250px 50px;
    margin: -890px 50px 822px 1px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.login-clean hr{
    color: #f00;
    background-color: #f00;
    height: 5pt;
}

/*Bloquinho do form*/
.login-clean-direita form {
    max-width:400px;
    max-height: 400px;
    width:90%;
    margin: 112px 100px 100px 900px;
    /*background-color:#f1f7fc;*/
    padding:50px;
    /*border-radius:2px;*/
    color:#505e6c;
    /*box-shadow:1px 1px 5px rgba(0,0,0,0.1);*/
}

/*Caixa de texto de email e senha*/
.login-clean-direita form .form-control {
    background:#f7f9fc;
    border:none;
    text-align: left;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:8px;
    margin-top: -40px;
    margin-bottom: 70px;
    height:42px;
    width: 300px;
}

.login-clean-direita form .btn-primary {
    background:#ffcd00;
    border:none;
    border-radius:4px;
    padding:5px;
    text-align: center;
    box-shadow:none;
    margin: -26px 100px 100px 100px;
    text-shadow:none;
    height: 40px;
    width: 100px;
    outline:none !important;
}

.login-clean-direita form .btn-primary:hover, .login-clean form .btn-primary:active {
    background: #08c8b0;
}

.login-clean-direita form .btn-primary:active {
    transform:translateY(1px);
}

.login-clean-direita form .forgot {
    display:block;
    text-align:center;
    font-size:13px;
    margin-top: -30px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
}

.login-clean-direita form .forgot:hover, .login-clean form .forgot:active {
    opacity:1;
    text-decoration:none;
}


.botaofacebook{
    background:#3a589e;
    border:none;
    border-radius:4px;
    text-align: center;
    color: #FFFFFF;
    box-shadow:none;
    margin: -500px  -10px -100px 600px;
    padding: -200px 10px 10px 10px;
    text-shadow:none;
    height: 40px;
    width: 400px;
    outline:none !important;
}

.botaofacebook:hover{
    background: #466dc2;
}

.botaofacebook:active{
    transform: translateY(1px);
}

.botaogoogle{
    background:#d44132;
    border:none;
    border-radius:4px;
    text-align: center;
    color: #FFFFFF;
    box-shadow:none;
    margin: 30px  -10px -100px 600px;
    padding: -200px 10px 10px 10px;
    text-shadow:none;
    height: 40px;
    width: 400px;
    outline:none !important;
}

.botaogoogle:hover{
    background: #f64b3a;
}

.botaogoogle:active{
    transform: translateY(1px);
}

.botaogoogle h3 {
    /*padding-left: 5px;*/
    font-family: "Axure Handwriting";
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: -27px;
    /*padding-right: -100px;*/
    padding-left: 0px;
    /*margin-left: -500px;*/
}

.botaogoogle i{
    color: #FFFFFF;
    text-align: center;
    margin-left: -300px;
    font-size: 23pt;
    margin-top: 2px;
}

.botaofacebook i{
    color: #FFFFFF;
    text-align: center;
    margin-left: -300px;
    font-size: 23pt;
    margin-top: 2px;
}

.botaofacebook h3{
    /*padding-left: 5px;*/
    font-family: "Axure Handwriting";
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: -27px;
    /*padding-right: -100px;*/
    padding-left: 0px;
    /*margin-left: -500px;*/
}

/*********************************
7. Copyright
*********************************/


.copyright
{
    width: 100%;
    background: #fafafa;
}
.copyright_container
{
    width: 100%;
    height: 56px;
}
.copyright_content
{
    font-size: 12px;
    color: rgba(0,0,0,0.6);
}
.copyright_content span
{
    font-weight: 500;
}
.logos
{

}
.logos_list li
{
    display: inline-block;
    margin-right: 16px;
}
.logos_list li:last-child
{
    margin-right: 0px;
}




